<%= render 'shared/topnavbar' %>

<h1 class="texth1" >Add your booking</h1>

  <div class="row justify-content-center">
    <form class="form-inline form" >

      <div class="form-group">
        <input type="text" readonly class="form-control-plaintext" id="staticnumber2" value="Booking Number">
      </div>
    </div>

  <div class="row justify-content-center">
      <div class="form-group ">
        <input type="input" class="form-control" id="inputNumber2" placeholder="xxxxxxxxxx">
      </div>
  </div>
  <div class="row justify-content-center">
      <button type="submit" class="btn btn-primary mb-2 btn-addbooking  ">Confirm booking</button>
  </div>
    </form>
  </div>
