<div class="background-body">
  <div class="top-blend" style="background-image: url('https://wallpaperplay.com/walls/full/3/0/8/156953.jpg')">
    <%= image_tag '' %>
  </div>
  <div class="bottom-blend" style="background-image: url('https://www.ronenbekerman.com/wp-content/uploads/2018/11/commercial-interior-3d-visualization-breathtaking-lobby-presentation.jpg')">
    <%= image_tag ''%>
  </div>
  <%= render 'shared/neumorph' %>
</div>
<div class="circle circle01">
  <div class="circle orbiting-circle01"></div>
</div>

<div class="circle orbitPathCentered border-blue orbitPath01-border"></div>
<div class="circle orbitPathCentered orbitPath01"></div>

<div class="circle orbitPathCentered border-blue orbitPath02-border"></div>
<div class="circle orbitPathCentered orbitPath02"></div>
<div class="circle circle02"></div>

<div class="circle border-orange circle03"></div>
<div class="circle circle04"></div>
<div class="circle circle05"></div>

