<div class="background-body">
  <div class="container-fluid px-0" >
    <div class="inner py-2">
      <h4 id="ttl", class="text-center px-3 py-3"><%= @booking.hotel.name %></h4>
    </div>

    <%= cl_image_tag(@booking.hotel.photo.key, class: "style-image") %>
  </div>
  <br>
<br>
<br>
<br>
  <%= render 'shared/neumorph' %>

<div>
   <%= render 'shared/floatbuttonchat'%>
</div>
</div>
