<div class="container _index-e" align="center">
  <div class="row justify-content-center m-3 p-4">
    <div class="col-xs-12 col-lg-6" id="col-per">
      <h5 class="index-event-title text-center"> Wellness </h5>
    </div>
    <div class="card-category align-middle align-items-center" id="upcoming-e" style="background-image: url(https://images.unsplash.com/photo-1544161515-4ab6ce6db874?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80)">
      <p class="card-title"></p>
  <!--     <p class="card-text" id="event-border"> -->
    </div>

    <div class="col-xs-12 col-lg-6 spa-text">
      <p class="justify-content-center m-3"> Exercise and Relax </p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet turpis quis augue laoreet lobortis. Nunc egestas interdum nunc, quis scelerisque metus rhoncus eu. Fusce lectus elit, cursus eu congue a, pretium in tellus. Vestibulum mi mauris, laoreet at dapibus eget, tempus non metus. Sed eget consectetur purus, vitae blandit nulla. Etiam at auctor diam. Praesent vitae sodales magna. Quisque mollis sem non lectus consectetur vestibulum. Integer bibendum nunc at massa accumsan, ut dapibus est lacinia. Duis nec urna condimentum, auctor ligula ac, hendrerit augue. Aenean non ipsum vel velit volutpat sollicitudin in a lorem. Curabitur feugiat blandit mollis. Integer facilisis nulla id nisi pretium, tristique ullamcorper nisi ullamcorper.</p>
    </div>
  </div>
</div>
