
footer {

  background-color: #1D3447;
  text-align: center;
  height: 130px;
  max-width: 100%;




  a {
    color: #F2F2F2;
    display:inline;
    margin-right: 15px;
    font-family: 'Montserrat';
    padding-bottom: 10px;
  }

a:hover {
  color: #F2F2F2;
  text-decoration: none;
  font-weight: bold;
  padding-bottom: 10px;
}


i {
  font-size:23px;
  color: #F2F2F2;
}
}

.icons {
  padding-top: 50px;
}
