
footer {

  background-color: #F2F2F2;
  text-align: center;
  height: 200px;
  max-width: 100%;


}

  a {
    color: #0D0D0D;
    display:inline;
    margin-right: 15px;
    font-family: 'Montserrat';
    padding-bottom: 10px;
  }

a:hover {
  color: #0D0D0D;
  text-decoration: none;
  font-weight: bold;
  padding-bottom: 10px;
}


i {
  font-size:23px;
}
.icons {
  padding-top: 50px;
}
