._user-info {
  margin: 8px 0;
  border-radius: 6px;
  background-color: #1D3547;
  border-color: transparent;;

}

#textprofile{
  text-align: center;

}
._user-info img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: auto;
  margin-top: 24px;

}

#text-vertical{
  margin-left: 13px;
}

._button-blue{
  margin-left: 30px;
}


.card-text{
  color: white;
}
