.show-services img {
    height: 100px;
    width: 100px;
    border-radius: 10px;
}

.show-services {
  padding: 20px;
  margin-bottom: 5px;
}

#show-services-border {
  font-size:15px;
  background-color:#1c33477a;
   // background-color: #ffffff47;
  font-color:white;
  border:1px solid none;
  padding-right: 10px;
  padding-left: 10px;
}

// #event-border {
//   font-size:15px;
//   // background-color: #ffffff47;
//   background-color:#1c33477a;
//   font-color:white;
//   border:1px solid none;
//   padding-right: 10px;
//   padding-left: 10px;
// }



