.text-bye{
  margin-top: 40px;
  text-align: center;
}

.p-text{
  margin-top: 30px;
  text-align: center;
}

.b-bye{
  margin-top: 30px;
  text-align: center;

}

.buttonbye{
padding-left: 50px;
padding-right: 50px;
padding-top: 15px;
padding-bottom:15px;
text-align: center;
}
