

<h1 class="text-bye mx-auto" style="width:320px">Thank you for staying with us </h1>
<p class="p-text mx-auto" style="width:320px">We sincely hope you enjoyed your stay and had a pleasant experience</p>

<div class="b-bye mx-auto" style="width:320px">
<button id="pay" class="btn sisu-btnbill buttonbye">Pay</button>
</div>

<script src="https://js.stripe.com/v3/"></script>

<script>
  const paymentButton = document.getElementById('pay');
  paymentButton.addEventListener('click', () => {
    const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
    stripe.redirectToCheckout({
      sessionId: '<%= @cart.checkout_session_id %>'
    });
  });
</script>

