<%= render 'shared/topnavbar' %>
<div class="body-room mx-2">
  <div class="container card _one px-0">
    <div class="border"></div>
    <%= image_tag "https://s3-us-west-2.amazonaws.com/s.cdpn.io/53148/deathtostock-00.jpg", id: "cover-pic" %>
    <div class="container card room-card">
      <%= render 'shared/slidecards' %>
    </div>
  </div>
</div>
<%=  render 'shared/floatbuttonchat' %>
<br>
<br>
<br>

