
.texth1{
  color: $white-c;
}

.boxofcards{
 width: 100%;
}

#booking-card {
  overflow: hidden;
  height: 70%;

  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  margin: 5px;
  border-radius: 5px;
}

#booking-card img {
  border-radius: 6px;
  vertical-align: baseline;
}

#link-hotel {
  padding-left: 10px;
  color: $beige-c;
  text-decoration: none;
  font-weight: bold;
}

#link-hotel-current {
  color: $beige-c;
  text-decoration: none;
  font-weight: bold;
}

.card-product p {
  color: $beige-c;
  line-height: 1.4;
  // opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

// .card-product .card-product-infos {
//   padding: 16px;
// }

// neomorphism


.card-product  {
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
}

// Upcoming booking

.card-trip {
  overflow: hidden;
  background: transparent;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  width: 85%;
  // margin-top: 100px!important;
}


.card-trip> img {
  height: 100px;
  width: 100%;
  object-fit: cover;
}

.card-trip p {
  // color: $grey-c;
}

#address {
  font-style: normal;
  font-size: 12px;
  margin-bottom: 0px;
  padding-left: 10px;
}

#dates {
  font-size: 14px;
  padding-left: 10px;
  padding-top: 2px;
  margin-bottom: 0px;
  font-weight: bold;
}

.card-trip-infos {
  border-left: 1px solid $beige-c;
  border-right: 1px solid $beige-c;
  border-bottom: 1px solid $beige-c;
}
