#inputNumber2{
  border-radius: 10px;
}

#staticnumber2{
  text-align: center;

}
  .btn-addbooking {
  font-family: 'Montserrat';
  background:  #1A2E40;
  border-color: transparent;
  color:  #F2E8DF;
  border-radius:10px;
  font-weight: lighter;
  padding: 10px;
  margin: auto;

}


#staticnumber2{
 margin: auto;
}

.texth1{
  margin-top: 60px;
  text-align: center;
  font-size: 18px;
}
