
.texth1{
color: #1A2E40;
font-size: 20px;
font-weight: normal;
text-align: center;
margin-top: 30px;

}

.text-center{
border: none;
color: #1A2E40;
}

.text-booking{
  margin-left: 25px;
}


.boxofcards{
 width: 100%;
}


.card-product {
  overflow: hidden;
  height: 70%;
  background: F2F2F2;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  margin: 5px;
  border-radius: 5px;
}

.card-product img {
  height: 120%;
  width: 115px;
  object-fit: cover;
  border-radius: 6px;
  margin-left: 5px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

// neomorphism

$color-bg: #D9D0C7;
$color-shadow: #BABECC;
$color-white: #FFF;

.card-product  {
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
}

// Upcoming booking

.card-trip {
  overflow: hidden;
  background: #F2F2F2;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  width: 80%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;

}

.card-trip > img {
  height: 100px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
