<nav class="navbar fixed-bottom justify-space-between navbarbooking" style="width: 100%">

 <!--  <a class="navbar-brand" href="#"><i class="fas fa-home"></i></a> -->
 <%= link_to :back, class: "navbar-brand" do %><i class="fas fa-home"></i> <% end %>
<!--    <= link_to guest_booking_chat_room_path(@booking, @chat_room), class: "navbar-brand" do %> --><i class="fas fa-comments"></i> <!-- < end %> -->
  <a class="navbar-brand" href="#"><i class="fas fa-user"></i></a>

</nav>
