<nav class="navbar fixed-bottom justify-space-between navbar-light navbarbooking">
  <a class="navbar-brand" href="#"><i class="fas fa-home"></i></a>
  <%#= link_to  new_guest_booking_path, class: "navbar-brand" do %><i class="fas fa-plus"></i> <!-- < end %> -->
  <a class="navbar-brand" href="#"><i class="fas fa-user"></i></a>

</nav>

