<div class="container-fluid _menu py-4 mr-3" >
  <div class="row justify-content-around">
    <div class="box _unit py-3 my-3 " id="menu-box">
      <div class="container py-3 text-center">
        <i class="fas fa-key"></i>
      </div>
      <div class="container py-3  text-center">
        <h5>Key</h5>
      </div>
    </div>
    <div class="box _unit py-3 my-3 " id="menu-box">
      <div class="container py-3 text-center">
        <i class="fas fa-person-booth"></i>
      </div>
      <div class="container py-3 text-center">
        <h5>Room</h5>
      </div>
    </div>
  </div>
  <div class="row justify-content-around">
    <div class="box _unit py-3 my-3 " id="menu-box">
      <div class="container py-3 text-center">
        <i class="fas fa-utensils"></i>
      </div>
      <div class="container py-3 text-center ">
        <h5>Dining</h5>
      </div>
    </div>
    <div class="box _unit py-3 my-3" id="menu-box">
      <div class="container py-3 text-center">
        <i class="fas fa-spa"></i>
      </div>
      <div class="container py-3 text-center">
        <h5>Wellness</h5>
      </div>
    </div>
  </div>
  <div class="row justify-content-around">
    <div class="box _unit py-3 my-3 " id="menu-box">
      <div class="container py-3 text-center">
        <i class="far fa-calendar-alt"></i>
      </div>
      <div class="container py-3 text-center">
        <h5>Events</h5>
      </div>
    </div>
    <div class="box _unit py-3 my-3" id="menu-box">
      <div class="container py-3 text-center">
        <i class="fas fa-concierge-bell"></i>
      </div>
      <div class="container text-center">
        <h5>Services</h5>
      </div>
    </div>
  </div>
</div>
