
<h5 class="room-info  text-center mt-4 py-4" type="button" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">Room Info</h5>
<div class="collapse" id="collapseExample1">
  <div class="card card-body-room mb-3">
    <p class="paragraph-room text-center py-2 my-0"><%= @room[0].room_number %>   <%= @room[0].name %></p>
  </div>
</div>

<h5 class="room-info  text-center py-4" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">Wi-fi Password</h5>
<div class="collapse" id="collapseExample2">
  <div class="card card-body-room mb-3">
    <p class="paragraph-room text-center py-2 my-0">#Learntocode</p>
  </div>
</div>
<h5 class="room-info  text-center py-4 ">Room Service</h5>

<h5 class="room-info  text-center py-4" type="button" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">TV Remote</h5>
<div class="collapse" id="collapseExample3">
  <div class="card card-body-room mb-3">
    <p class="paragraph-room text-center"><img src="https://ae01.alicdn.com/kf/H4c31e6f355944038bede8488740d68e8I/2019-Remote-Control-Suitable-for-Samsung-TV-BN59-01259E-TM1640-BN59-01259B-BN59-01260A-BN59-01265A.jpg_640x640q70.jpg" class="pt-3" alt="" style = "width: 100%"></p>
  </div>
</div>
<h5 class="room-info text-center py-4 mb-4"  id="border-bottom" type="button" data-toggle="collapse" data-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample4">Room AC</h5>
<div class="collapse" id="collapseExample4">
  <div class="card card-body-room mb-3">
    <p class="paragraph-room text-center"><img src="https://sc02.alicdn.com/kf/HTB1LCVEkRcHL1JjSZFB761iGXXam/190694/HTB1LCVEkRcHL1JjSZFB761iGXXam.png" alt="" class="pt-3" style="width: 100%"></p>
  </div>
</div>
