// .index-e {
//   overflow: scroll;
// }

// #index-events {
//   background-size: cover;
//   background-position: center;
//   height: 200px;
//   width: 100%;
//   // display: flex;
//   // justify-content: center;
//   // align-items: center;
//   // color: white;
//   // font-size: 14px;
//   font-weight: bold;
//   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
//   border-radius: 5px;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
//   margin-top:5px;
//   margin-inline-start: 3px;

// }

//   #suggested-event {
//   color:white;
// }

// .index-event-title {
//     color:$white-c;
//     padding: 10px;
//     margin: 10px;
//   }

// #upcoming-e {
//   background-size: cover;
//   background-position: center;
//   height: 200px;
//   width: 300px;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align:center;
//   color: white;
//   font-size: 18px;
//   font-weight: bold;
//   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
//   border-radius: 5px;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
//   margin-top:5px;
// }

// #upcoming-e p {
//   justify-content: center;
//   align:center;
// }

// // #detail-d p {
// //   background-color:white;
// //   font-color:white;
// //   border:1px solid none;
// //   font-size:14px;
// // }

// #event-border {
//   font-size:14px;
//   background-color: #ffffff47;;
//   font-color:white;
//   border:1px solid none;
//   width:150px;
// }

// #col-per {
//   padding:0px;
// }
.index-e {
  overflow: scroll;
}
#index-events {
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 100%;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // color: white;
  // font-size: 14px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top:5px;
  margin-inline-start: 3px;
}
  #suggested-event {
  color:white;
}
.index-event-title {
    color:$white-c;
    padding: 10px;
    margin: 10px;
  }
#upcoming-e {
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align:center;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top:5px;
}
#upcoming-e p {
  justify-content: center;
  align:center;
}
// #detail-d p {
//   background-color:white;
//   font-color:white;
//   border:1px solid none;
//   font-size:14px;
// }
#event-border {
  font-size:14px;
  background-color: #ffffff47;;
  font-color:white;
  border:1px solid none;
  width:150px;
}
#col-per {
  padding:0px;
}
