.index-e {
  overflow: scroll;
}

#index-events {
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 100%;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // color: white;
  // font-size: 14px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top:5px;
  margin-inline-start: 3px;
}

#suggested-event {
  color:white;
}

.index-event-title {
    color:$white-c;
    padding: 10px;
    margin: 10px;
  }

#upcoming-e {
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  padding-top:25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align:center;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top:5px;
}

#upcoming-e p {
  justify-content: center;
  align:center;
}


#event-border {
  font-size:15px;
  // background-color: #ffffff47;
  background-color:#1c33477a;
  font-color:white;
  border:1px solid none;
  padding-right: 10px;
  padding-left: 10px;
}

#col-per {
  padding:0px;
  border-radius:5px;
}


