/*
** Layout, Text & Colors
*/


.body-room {
  // position: relative;
  // overflow: hidden;

  margin-top: 40px;
  padding-top: 10px;
  z-index: 2;
  }
.room-card {
  z-index: 2;
  background-color: #b2a496;
  color: #fff;

}

.border {

  position: absolute;
  width: 100%;
  height: 100%;
  padding: 6px;
  border: 1px solid #fff;
  opacity: 0.5;
  left: -4px;
  top: -6px;
}

.room-info {
  border-top: 1px solid #c6b6a7;
}
#border-bottom {
  border-bottom: 1px solid #c6b6a7;
}
#cover-pic {
height: 200px;
width: inherit;
}
._one {
max-width: 600px;
}

.card-body-room {

background: linear-gradient(145deg, #bfb0a1, #e3d1c0);
// box-shadow:  20px 20px 60px #b4a698,
//              -20px -20px 60px #f4e0ce;
}


.paragraph-room {
  color: #0D0D0D;
  img {
    position: fit;
    filter: opacity(65%);
  }
}
// .room-info:hover {

//   border-radius: 4px;
//   background: linear-gradient(145deg, #b2a496, #d4c3b3);
//   box-shadow:  20px 20px 60px #a89b8e,
//              -20px -20px 60px #e4d1c0;
// }
#link-menu-one {
  color: #fff;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
}
