<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1540541338287-41700207dee6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80);">
  <div class="container">
    <h1> Welcome to ButlerX!</h1>
    <br>
    <p class=description> The confort at a touch of a button.</p>
  </div>
</div>
  <div class="enter">
    <div class="homebutton1">
      <button type="button" class="btn btn-outline-primary homebutton">Sign in as Guest</button>
      <p>Sign up as Guest</p>
    </div>

      <div class="homebutton2">
      <button type="button" class="btn btn-outline-primary homebutton">Sign in as Hotel</button>
      <p>Sign up as Hotel</p>
    </div>
  </div>

<div id="list-example" class="list-group">
  <a class="list-group-item list-group-item-action explore" href="#list-item-1">Explore</a>
</div>
<br>

<div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">
  <h4 id="list-item-1">Explore</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet turpis quis augue laoreet lobortis. Nunc egestas interdum nunc, quis scelerisque metus rhoncus eu. Fusce lectus elit, cursus eu congue a, pretium in tellus. Vestibulum mi mauris, laoreet at dapibus eget, tempus non metus. Sed eget consectetur purus, vitae blandit nulla. Etiam at auctor diam. Praesent vitae sodales magna. Quisque mollis sem non lectus consectetur vestibulum. Integer bibendum nunc at massa accumsan, ut dapibus est lacinia. Duis nec urna condimentum, auctor ligula ac, hendrerit augue. Aenean non ipsum vel velit volutpat sollicitudin in a lorem. Curabitur feugiat blandit mollis. Integer facilisis nulla id nisi pretium, tristique ullamcorper nisi ullamcorper.</p>

</div>

<%= render 'shared/footer' %>
