<div class="homepage">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://images.unsplash.com/photo-1540541338287-41700207dee6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80);">
    <div class="container">
      <h1> Welcome to ButlerX</h1>
      <br>
      <p class=description> The comfort of home, at a touch of a button.</p>
    </div>
  </div>
  <div class="enter">
    <div class="homebutton1">
       <%= link_to "Enter as Guest", new_user_session_path, class: "btn homebutton" %>
    </div>

    <div class="homebutton2">
        <!-- Button Modal -->
       <button type="button" class="btn homebutton " data-toggle="modal" data-target="#exampleModal">
          Enter as Hotel
        </button>


    </div>
  </div>
</div>


<!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Hello !</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Please contact ButtlerX.
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal -->
