.buttonplus{
  font-family: Montserrat;
  font-size:18px;
  background-color:#CCC;
}

.float{
  position:fixed;
  width:60px;
  height:60px;
  bottom:70px;
  right:40px;
  background-color:#F2F2F2;
  color:#1D3447;
  border-radius:50px;
  text-align:center;
  box-shadow: 2px 2px 3px #737373;
}

.my-float{
  margin-top:22px;
  color: #1D3447;
}
