.messages {
  font-size: 14px;
  color: $white-c;
  background-color: $white-c;
  padding: 20px;
  border: 1px solid #ececec;
  border-top: none;
  border-bottom-width: 0;
  max-height: calc(100vh - 70px - 45px - 61px - 30px);
  // overflow: scroll;
  background-color: #1D3447;
  border-style: none;
  margin-top: 40px;
  border-radius: 7px;
}

.message {
  display: flex;
  margin-bottom: 10px;
  width: 100%;
  &.right {
    flex-direction: row-reverse;
    .message-content {
      background-color:#F7F7F7;
    }
  }
}
.message-content {
  background-color: #D9D0C7;
  border-radius: 25px;
  margin: 0 10px;
  padding: 11px 10px 8px 10px;
  color: black;

}
.avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

#create-message {
  padding: 10px;
  background-color: #1D3447;
    position: absolute;
  bottom: 30px;
  z-index: 1;
  width: 100%;

}
.message_content {
  margin-bottom: 0;
}
input.form-control {
  border: 1px solid #ECECEC;
  box-shadow: none;
  font-size: 14px;
  color: #F7F7F7;
  border-radius: 10px;
  margin-bottom: 30px;
  &:focus {
    outline: none;
    border: 1px solid #ECECEC;
    box-shadow: none;
  }
}
.chat-header {
  background-color: $blue-c;
  color: white;
  padding: 10px 20px;
  margin-top: 10px;
  h4 {
    margin: 0;
  }
}

.user-name {
  color: #F7F7F7;
}

.btn-dark {
    background-color: #1D3447;
    border: transparent;
}

.btn-dark:hover{
  color: #F7F7F7;
  font-weight: bold;
  background-color: #1D3447;
}

.chat-body {
  display: flex;
   align-self: center;
justify-content: center;
overflow: scroll;
}

.chat-header{
  margin-top: 30px;
  text-align: center;
}
