  .sisu .form-group input {
  border-radius:10px;
}

  .sisu-btn {
  font-family: 'Montserrat';
  background:  #1A2E40;
  border-color: transparent;
  color: #F2E8DF;
  border-radius:10px;
  font-weight: bold;
  padding: 10px;
}

  .sisu-details {
  color:#1A2E40;
}

